* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 768px) {
  .app__body {
    flex-direction: column;
    grid-template-columns: 768px auto;
    grid-template-rows: auto 1fr auto;
  }

  .sidebar__header {
    background-color: black;
  }

  .chat__header {
    background-color: black;
    color: whitesmoke;
  }
}
